h1 {
color:yellow;  
font-family:sans-serif;
text-align: center;

}
#ronaldo_image {
   border:15px ridge silver;

}
p {
   font-family: sans-serif;
   color:white;
}

h2 {
   font-family: sans-serif;
   color:gold;
}
#historyofrealmadrid {

   height: 20;
   width 
}
body {
background-color: black
}
whitekit {
margin:1.5em;
}
#formation {
padding-left:35%
}
